.register {

  .error-tip {
    position: relative;
    top: -14px;
    color: red;
  }

  .footer {
    position: absolute;
    width: 100%;
    top: 580px;
  }

  .register-form {
    margin-top: 50px;
    left: 530px;
  }
}
